<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<bean id="sh" class="com.wolken.wolkenapp.bean.SuperHeroBean">
<constructor-arg value ="spd's dog" type="java.lang.String"></constructor-arg>
<constructor-arg value ="grey ranger" type="java.lang.String"></constructor-arg>
<constructor-arg ref="sp"></constructor-arg>

<!-- <property name="superHeroName" value="spd's dog"></property>
<property name="whichRanger" value="grey ranger"></property>
<property name="superPowerBean" ref="sp"></property>
 -->
</bean>
<bean id="sp" class="com.wolken.wolkenapp.bean.SuperPowerBean">
<constructor-arg value="benki nam hudga" type="java.lang.String"> </constructor-arg>
<constructor-arg value="fullu" type="java.lang.String"></constructor-arg>
<!-- <property name="powerName" value="benki nam hudga"></property>
<property name="Strength" value="fullu"></property> -->
</bean>


</beans>
